<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-7">
                <h1 class="display-4">Hallo!</h1>
                <p class="lead">Ich bin Heilpraktikerin für Psychotherapie aus Braunschweig</p>
            </div>
            <div class="col-3">
                <img src="/assets/images/anita_circle.png"/>
                <div class="mx-auto">
                    Anita Dralle
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>