<div class="position-fixed">
  <div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="#top">Home</a>
    <a class="list-group-item list-group-item-action" href="#Psychotherapie">Psychotherapie</a>
    <a class="list-group-item list-group-item-action" href="#Coaching">Coaching</a>
    <a class="list-group-item list-group-item-action" href="#Autismus">Autismus</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Über mich</a>
  </div>
</div>