---
---
#stripe-top {
    width: 100%;
    height: 60px;
    background-color: #FBB901;
    margin: 0;
}

#banner {
	width:100%;
	height:15em;
	object-fit:cover;
}
q:after {
	content: '«';
}
q:before {
	content: '»';
}
#zitat {
    text-align: right;
    font-size: 10pt;
    font-style: italic;
}