<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Dralle Coaching - Gemeinsam Wege suchen, Lösungen finden, Ziele erreichen</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet" href="/assets/css/styles.css">

<script src="/js/lightbox/jquery-1.7.2.min.js"></script>
<script src="/js/lightbox/lightbox.js"></script>
<link href="/js/lightbox/lightbox.css" rel="stylesheet" media="screen"/>
<meta name="keywords" content="Dralle,Braunschweig,Heilpraktikerin,Psychotherapie,Heilpraktiker für Psychotherapie,Heilpraktikerin für Psychotherapie,Coaching,Autismus,Asperger,Autismusspektrumsstörung,Raucherentwöhnung,Gewichtsreduktion,Burn-out,Bore-out,Depressionen,Hypnose,Hypnotherapie,Psychotherapie,Angst,Ängste,Zwang,Zwänge,Prüfungsangst,Systemische Beratung,Gesprächstherapie,Familientherapie" />
<meta name="description" content="Heilpraktikerin für Psychotherapie in Braunschweig mit den Schwerpunkten systemisches Coaching und Hypnotherapie unterstützt Sie auf Ihrem Weg zu Ihrem persönlichen Ziel." />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>
<div id="stripe-top">&nbsp;</div>
<div id="head"><img src="/bilder/oben_transparent.png" width="940" height="309" alt="Dralle Coaching - Gemeinsam Wege suchen, Lösungen finden, Ziele erreichen"></div>
<div class="container_12" id="main">
  <div class="grid_3" id="nav"> 
    <ul class="menulist">
  <li class="menu first"><a href="http://www.dralle-coaching.de/">Home</a></li>
  <li class="menu"><a href="/methoden.html">Methoden</a></li>
  <li class="menu"><a href="/psychotherapie_heilpraktiker.html">Psychotherapie nach dem<br />
Heilpraktikergesetz</a></li>
  <li class="menu"><a href="/hypnotherapie.html">Hypnotherapie</a>
    <ul class="submenu">
      <li class="submenu"><a href="/hypnotherapie_faq.html">FAQ Hypnotherapie</a></li>
    </ul>
  </li>
  <li class="menu"><a href="/coaching.html">Coaching</a>
    <ul class="submenu">
      <li class="submenu"><a href="/coaching_faq.html">FAQ Coaching</a></li>
    </ul>
  </li>
  <li class="menu"><a href="/autismus.html">Autismus</a>
    <ul class="submenu">
      <li class="submenu"><a href="/autismus_faq.html">FAQ Autismus</a></li>
    </ul>
  </li>
  <li class="menu"><a href="/ueber_mich.html">Über&nbsp;mich</a></li>
  <li class="menu"><a href="/ablauf_kosten.html">Ablauf&nbsp;und&nbsp;Kosten</a></li>
  <li class="menu"><a href="/anfahrt.html">Anfahrt</a></li>
  <li class="menu"><a href="/kontakt.html">Kontakt</a></li>  
  <li class="menu last"><a href="https://www.facebook.com/DralleCoaching">Dralle Coaching auf Facebook</a></li>  
</ul>
&nbsp; 
  </div>
  <div class="grid_9" id="zitat"><q>Verantwortlich ist man nicht nur für das, was man tut, sondern auch für das, was man nicht tut.</q><br>
    <strong>Laotse</strong></div>
  
  
  
  {{content}}
	
	
	
  ﻿<div class="grid_12" id="footer">
	<strong>Anita Dralle &middot; Heilpraktikerin für Psychotherapie<br />
	</strong>Erlenbruch 7 &middot; 38110 Braunschweig–Waggum<br />
	Telefon: 05309 / 91 11 19 &middot; Telefax: 05309 / 91 11 18 &middot; Mobil: 0171 / 71 00 980<br>
	<a href="http://www.dralle-coaching.de/" class="footer">www.dralle-coaching.de</a> &middot; <a href="mailto:info@dralle-coaching.de" class="footer">info@dralle-coaching.de</a><br>
	<a href="http://www.andyhoppe.com/" title="Besucherzaehler"><img src="http://c.andyhoppe.com/1385618051?output=invisible" style="border:none" alt="Besucherzaehler" /></a></div> 
</div>
</body>
</html>
