<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO">
	<script src="/assets/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
	
	<meta name="keywords" content="Dralle,Braunschweig,Heilpraktikerin,Psychotherapie,Heilpraktiker für Psychotherapie,Heilpraktikerin für Psychotherapie,Coaching,Autismus,Asperger,Autismusspektrumsstörung,Raucherentwöhnung,Gewichtsreduktion,Burn-out,Bore-out,Depressionen,Hypnose,Hypnotherapie,Psychotherapie,Angst,Ängste,Zwang,Zwänge,Prüfungsangst,Systemische Beratung,Gesprächstherapie,Familientherapie" />
	<meta name="description" content="Heilpraktikerin für Psychotherapie in Braunschweig mit den Schwerpunkten systemisches Coaching und Hypnotherapie unterstützt Sie auf Ihrem Weg zu Ihrem persönlichen Ziel." />
  </head>
  <body>
	<div id="stripe-top"></div>
	<img id="banner" src="/assets/images/header.png"/>
	<div class="container">
		{{ content }}
	</div>
  </body>
</html>